@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Reset */
*{
	border: 0;
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

body {
	overflow-y: hidden;
	overflow-x: hidden;
	background: rgb(236, 240, 241);
	background-size: 100%;
	text-align: center;
	font-family: "Lato","Georgia", serif;
	line-height: 1.8em;
	max-height: 100 vh;
	width: 100%;
	margin: 0 auto;
}

/* H font */

h1, h2, h3, h4 {
	font-family: "Minion Pro","Lato", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Main */

#content {
	margin: 0;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* Header/footer boxes */

.wideBox {
	clear: both;
	text-align: center;
	margin: 0px;
	padding: 8px;
	background: rgba(20, 20, 20, 0.8);
}
.overBox {
	width: 100%;
	height: 4.6vh;	
	background: rgba(180,180,180,0.5);
	font-size: 0.85em;
}

.overBox a {
	color: rgb(44, 62, 80);	
	text-decoration: none;
}

.wideBox h1 {
	font-weight: bold;
	margin: 2.52vh auto;
	color: white;
	font-size: 2.5em;
}


/* Hint */

#lumina {
	background: rgba(50,50,50,0.7);
	display: none;
	height: 16vh;
	width: 100%;
	position: absolute;
	z-index: 99;
}


#hint img {
	margin-top: 2px;
	width: 50px;
}

/* Positions */

#container_back {
	margin: 1vh auto 0 auto;
	padding: 10px 24px;
	width: 100%;
	height: 100%;
}

/* Initial IMGS */

#cardPile {
	margin: 4vh auto;
	margin-bottom: 0.2vh;
	text-align: center;
	padding: 0 auto;
}

#cardSlots {
	background: #c0392b;
	width: 98%;
	color: white;
	margin: 0 auto;
	min-height: 37vh;
	max-height: 44vh;
	padding: 22px 2px 10px 2px;
	border: 0px solid rgb(244,200,153);
	/*-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;*/
	-moz-box-shadow: 0 0 .3em rgba(204,172,159,0.8);
	-webkit-box-shadow: 0 0 .3em rgba(204,172,159,0.8);
	box-shadow: 0 0 .3em rgba(204,172,159,0.8);
}

#cardPile {
	width: 96%;
	height: 34.8vh;
	padding: 5px;
}

/* Objects/Words/Pics */

img {
	z-index: 999;
	min-height: 154px;
	max-height: 154px;
	margin:4px auto;
	top:0;
	max-width: 100%;
}

#cardSlots div, #cardPile div {
	z-index: 999;
	display: inline-block;
	margin: 0 auto;
	width:14.5vw;
	height: 162px;
	color: white;
	font-size: 0.98em;
	padding-bottom: 0;
	border: 0px solid #333;
	margin: 0 0 0 10px;
	background: rgba(0,0,0,0);
}

#cardSlots div{
	padding-top: 5.2vh;
}

#cardSlots div:first-child, #cardPile div:first-child {
	margin-left: 0;
}

#cardSlots div.hovered {
	background: rgba(100,100,100,0.2);
}

#cardSlots div {
	border-style: dashed;
}

#cardPile div {
	color: #fff;
	text-shadow: 0 0 3px #000;
}

#cardPile div.ui-draggable-dragging {
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

/* Colors */

#card1.correct { background: red; }
#card2.correct { background: brown; }
#card3.correct { background: orange; }
#card4.correct { background: yellow; }
#card5.correct { background: green; }
#card6.correct { background: cyan; }
#card7.correct { background: blue; }
#card8.correct { background: indigo; }
#card9.correct { background: purple; }
#card10.correct { background: violet; }


/* Fin message */
#successMessage {
	color: white;
	position: absolute;
	left: 580px;
	top: 250px;
	width: 0;
	height: 0;
	z-index: 100;
	background: #fac752;
	border: 0px solid rgb(180,180,180);
	-moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
	-webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
	box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
	padding: 34px 20px;
}
#button {
	margin:5px;
	font-size: 1.24em;
	padding: 20px;
	background: rgb(10,10,10);
	color: white;
	min-width:100px;
	min-height: 40px;
}

#tutMessage {
	color: white;
	position: absolute;
	left: 1580px;
	top: 250px;
	width: 0;
	height: 0;
	z-index: 9000;
	background: #fac752;
	border: 0px solid rgb(180,180,180);
	-moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
	-webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
	box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
}

#tutMessage img {
	width: 100%;
	min-height: 100%;
}

#tutButton {
	margin:5px;
	font-size: 1.84em;
	padding: 24px;
	background: rgb(10,10,10);
	color: white;
	min-width:120px;
	min-height: 50px;
	position: absolute;
	z-index: 9900;
	bottom: 50px;
}

@media screen and (max-width: 530px) {
	
	#container_back {
		padding: 2px 12px;
	}
	
	#hint {
	top: 4px;
	right: 5px;
	padding: 8px 2px 2px 2px;
	width: 74px;
	height: 74px;
}
	
	#hint img {width:38px;}
	
	.wideBox h1 {font-size: 2.2em; }
	
	img {max-width:100%;margin: 0;}
	
	#cardSlots div, #cardPile div {
		
		padding: 0;
		max-width: 20vw;
		min-width: 90px;
		min-height: 90px;
		height: auto;
		font-size: 1em;
		margin-top: 10px;
	}
	#cardSlots div {padding-top:20px; margin: 10px 2px;}
}
